@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pop {
  0%   { transform: scale(.96); opacity: 0; }
  100% { transform: scale(1);    opacity: 1; }
}


/* Specificity is key, add more specificity to target the inner elements of ReactSelect */
.job-title-select .react-select__control {
  border: 1px solid #000 !important;
  border-radius: 0.375rem !important;
}

.job-title-select .react-select__placeholder {
  font-size: 1rem !important; /* Adjust font size */
}

.job-title-select .react-select__single-value {
  font-size: 1rem !important; /* Adjust font size */
}
/* Hide scrollbar but keep scrolling */
.custom-scroll::-webkit-scrollbar { width: 0; height: 0; }
.custom-scroll { -ms-overflow-style: none; scrollbar-width: none; }